
@{
    ViewBag.Title = "Usuarios";
}

<h2>Bienvenido al curso MVC Parte 2</h2>

@*Ciclo For Razor Html*@
@*@for (int i = 0; i <= 5; i++)
{
    <span>Esta es la línea # @i.ToString()</span>
    <br />
}*@


@Html.ActionLink("Ver Lista Usuarios", "ListaUsuarios")